.movie__out{
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #f7f7f7;
}
.movie__wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
.movie__item{
  padding: 20px;
  font-size: 28px;
  font-weight: 500;
}
.movie__title{
  font-size: 30px;
  padding: 5px 0;
  font-weight: bold;
}
.movie__recomendations{
  max-height: 800px;
  overflow: auto;
}
.recomendation__list{
  list-style: none;
}
.recomendation__item{
  height: 1037px;
  overflow: auto;
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background: #CACCE1;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #BDC0D9;
}
.movie__togle{
  padding: 30px 0;
  max-width: 300px;
  width: 100%;
}
